body {
  background-image: url('./assets/freedom.jpg');
  /* background-repeat: no-repeat; */
}

.centerhorizontally {
/* border: 5px solid #FFFF00; */
display: flex;
justify-content: center;
}

.container {
  height: 800px;
  position: relative;
  /* border: 3px solid green;  */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}