body {
  background-image: url('./assets/freedom.jpg');
}

.centerhorizontally {
display: flex;
justify-content: center;
}

.container {
  height: 800px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}